name: lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup python3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - run: python -m pip install poetry==1.6
      - run: poetry install
      - run: poetry run ruff simdjson_schemaful tests
        env:
          FORCE_COLOR: 1

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup python3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - run: python -m pip install poetry==1.6
      - run: poetry install
      - run: poetry run tox -m mypy
        env:
          FORCE_COLOR: 1
